<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">

    <title>oj数据统计</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/beautify.css')}}" type="text/css">
</head>

<body>

<h1 class="divisor">——　Complete Ranking　——</h1>
<a href="{{ Login }}">我是有身分的人</a>
<div>
    <td>姓名：</td><input>
    <td>年级：</td><input>
    <td>学校：</td><input>
    <td>选择查询 </td>
    <select>
        <option value ="spring">春季集训</option>
        <option value ="summer">暑假集训</option>
        <option value ="autumn">秋季集训</option>
        <option value ="winter">寒假集训</option>
    </select>
     <button type="quire">查询</button>
</div>
<table cellspacing="10" cellpadding="20">
    <thead>
    <tr>
        {% for item in t_header %}
         <td>{{ item }}</td>
        {%  endfor %}
    </tr>
    </thead>
    <tbody>
     {% for item in t_rank %}
        <tr>
            <td class="tds">{{ item.school }}</td>
            <td class="tds">{{ item.grade }}</td>
            <td class="tds"><a href="{{ item.url }}">{{ item.name }}</a></td>
            <td class="tds">{{ item.SDUTOJ }}</td>
            <td class="tds">{{ item.VJ }}</td>
            <td class="tds">{{ item.CF }}</td>
            <td class="tds">{{ item.NC }}</td>
            <td class="tds">{{ item.SUM }}</td>
        </tr>
    {%  endfor %}
    </tbody>
</table>

</body>
</html>
