<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
查询账号加入
<form method="post">
    <label>比赛id</label><input type="text">
    <label>比赛平台</label>
    <select>
        <option value ="sdutoj">sdutoj</option>
        <option value ="vj">vj</option>
    </select>
    <label>username</label><input type="text" name="username1">
    <label>username</label><input type="text" name="username2">
    <label>username</label><input type="text" name="username3">
</form>
</body>
</html>
